DEPLOY_ENV=development
DESIGN_REVIEW_ENABLED=true
PUBLIC_SITE_URL=https://www.kiber-portal.ru
PUBLIC_PHONE=+7 000 000-00-00
PUBLIC_TG=https://t.me/kiber_portal
PUBLIC_WA=https://wa.me/70000000000
PUBLIC_ANALYTICS_PROVIDER=disabled
