DEPLOY_ENV=development
DESIGN_REVIEW_ENABLED=true
PUBLIC_SITE_URL=https://www.kiber-portal.ru
PUBLIC_PHONE=+7 985 266-65-82
PUBLIC_TG=https://t.me/+79852666582
PUBLIC_WA=https://wa.me/79852666582
PUBLIC_EMAIL=markinas28@yandex.ru
PUBLIC_REGION=Москва
PUBLIC_LEGAL_NAME=ИП Маркин Александр Сергеевич
PUBLIC_INN=771898397717
PUBLIC_OGRNIP=326774600084499
PUBLIC_ADDRESS=Нижний Сусальный переулок, 9, стр. 4А
PUBLIC_ANALYTICS_PROVIDER=disabled
